.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 0px $color-elements;
  height: 96px;
  width: 100%;

  position: absolute;
  bottom: 0;

  &__logo {
    margin-left: 152px;

    @include onMobile {
      display: none;
    }
  }

  &__nav {
    @include onMobile {
      margin-left: 10px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    margin-right: 152px;
    gap: 16px;

    @include onMobile {
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    & :first-child {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: $color-secondary;
    }
  }
}
